<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Lend</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>lend</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Google Sign-in Section -->
	<key>GIDClientID</key>
	<string>198055514029-i55ijn48bmml1lshdi1ks34gpi72nibg.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.198055514029-i55ijn48bmml1lshdi1ks34gpi72nibg</string>
			</array>
		</dict>
	</array>
	<!-- End of the Google Sign-in Section -->
	
	<!-- Google Maps -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lend needs access to location when open.</string>
	<!-- End of Google Maps -->

	<!-- Gal & Image Picker https://pub.dev/packages/gal -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Lend needs permission to save and upload photos to your library.</string>
	<!-- End of Gal & Image Picker -->
	<!-- Camera package https://pub.dev/packages/camera -->
	<key>NSCameraUsageDescription</key>
	<string>Lend needs access to your camera to take photos and scan QRs.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lend needs access to your microphone to record and capture videos.</string>
	<!-- End of Camera package -->
	<!-- Firebase Emulator Suite (to allow non-HTTPS) https://firebase.flutter.dev/docs/manual-installation/ios#enabling-use-of-firebase-emulator-suite -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<!-- End of Firebase Emulator Suite -->
</dict>
</plist>
